<div class="container">
  <div class="row mt-2">
    <div class="list-group col-5" *ngIf="!isFetching; else loading">
      <a
        *ngFor="let country of countries"
        class="list-group-item list-group-item-action"
        [routerLink]="['country', country.alpha3Code]"
        routerLinkActive="active"
      >{{ country.name }}</a>
    </div>
    <router-outlet></router-outlet>
  </div>
  <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </ng-template>
</div>
