<div class="card" style="width: 20rem;" *ngIf="country">
  <img [src]="country.flag" class="card-img-top" alt="{{ country.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ country.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Capital: {{ country.capital }}</li>
    <li class="list-group-item">Area: {{ country.area }}</li>
    <li class="list-group-item">Population: {{ country.population }}</li>
  </ul>
</div>
